/* testin out some css */

/*pre {
  text-align: center;
}

body, html {
  height: 100%
}

.Doc_Title {
  color: white;
  padding-top: 100px;
  background-image: url('images/backlit_saturn.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.Doc_SubTitle {
  text-align: center;
  margin-bottom: 50px;
}

.first_screen {
  background-image: url('images/backlit_saturn.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
}

.home_image {
  background-image: url('backlit_saturn.jpg');
  height: 95%;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

/* ------------------------------------------------------------------------- */

body, html {
  height: 100%;
  background-color: black;
  color: white;
  font-family: arial;
}

h1 {
  font-weight: 500;
}

/* ------------------------------------------------------------------------- */

.menu_bar {
  position: absolute;
  right: 30px;
  top: 30px;
}

#menu-OMINAS {
  margin-left: 30px;
}

.menu_bar a {
  text-decoration: none;
  color: white;
  float: right;
  margin-left: 15px;
  margin-top: 2px;
}

.menu_bar a:hover {
  opacity: .7;
}

.button_links a {
  text-decoration: none;
}

/* ------------------------------------------------------------------------- */

.welcome {
  text-align: center;
}

#welcome-title {
  font-size: 60px;
}

#welcome-subtitle {
  font-size: 25px;
}

#overview-title {
  clear: both;
}

#enter-button {
  padding-top: 0
}

/* ------------------------------------------------------------------------- */

#overview-button {
  margin-top: 7%;
  margin-bottom: 7%;
}

#button1 {
  width: 33%;
}

#button2 {
  width: 33%;
}

#button3 {
  width: 33%;
}

.svg-wrapper {
  height: 60px;
	margin: 0 auto;

  top: 50%;
  transform: translateY(-50%);
  width: 320px;

  margin-bottom: 2%;
}

.svg-wrapper a {
  text-decoration: none;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: #9932CC;
}

.text {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  letter-spacing: 8px;
  line-height: 32px;
  position: relative;
  top: -48px;
  text-align: center;
}

.overview-button-text {
  text-decoration: none;
  color: #fff;
  font-size: 45px;
  letter-spacing: 8px;
  line-height: 32px;
  position: relative;
  top: -53px;
  text-align: center;
}

.buttoncontainer {
  text-align: center;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}

/* ------------------------------------------------------------------------- */

.overview-text #overview-text-title {
  text-align: center;
  font-size: 35px;
}

.overview-text #overview-text-body {
  text-align: left;
  font-size: 25px;
  margin-left: 30%;
  margin-right: 27%;
  float: left;
}

.reasons {
  text-align: left;
  font-size: 25px;
  margin-left: 30%;
  margin-right: 30%;
  float: left;
}

/* ------------------------------------------------------------------------- */

nav {
  margin: 50px;
  text-align: center;
}

ul {
  /*overflow: auto;*/
  list-style-type: none;
  margin-left: 5%;
  margin-right: 5%;
}

li {
  height: 25px;
  display: inline-block;
  /*text-align: center;
  margin-left: 1%;
  margin-right: 1%;*/
  border-right: 1px solid #aaa;
  padding: 0 20px;
}

li:last-child {
  border-right: none;
}

li a {
  text-decoration: none;
  color: white;
  font: 25px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
}

li a:hover {
  opacity: .7;
}

li.active a {
  font-weight: bold;
  color: #333;
}

/* ------------------------------------------------------------------------- */

.toc {
    padding-top: 100%;
  }
