/* ------------------------------------------------------------------------- */

body, html {
  height: 100%;
  background-color: black;
  color: white;
  font-family: arial;
}

h1 {
  font-weight: 500;
}
/* ------------------------------------------------------------------------- */

.filler {
  height: 100%;
}

/* ------------------------------------------------------------------------- */

.menu_bar {
  position: absolute;
  right: 30px;
  top: 30px;
}

#menu-OMINAS {
  margin-left: 30px;
}

.menu_bar a {
  text-decoration: none;
  color: white;
  float: right;
  margin-left: 15px;
  margin-top: 2px;
}

.menu_bar a:hover {
  opacity: .7;
}

.button_links a {
  text-decoration: none;
}

/* ------------------------------------------------------------------------- */

.welcome {
  text-align: center;
}

#welcome-title {
  font-size: 60px;
}

#welcome-subtitle {
  font-size: 25px;
}

#overview-title {
  clear: both;
}

#enter-button {
  padding-top: 0
}

/* ------------------------------------------------------------------------- */

#overview-button {
  margin-top: 7%;
}

#examples-button {
  margin-top: 7%;
  width: 33%;
}

#github-button {
  margin-top: 7%;
  width: 33%;
}

#documentation-button {
  margin-top: 7%;
  width: 33%;
}

.svg-wrapper {
  height: 60px;
	margin: 0 auto;

  top: 50%;
  transform: translateY(-50%);
  width: 320px;

  margin-bottom: 2%;
}

.svg-wrapper a {
  text-decoration: none;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: #9932CC;
}

.text {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  letter-spacing: 8px;
  line-height: 32px;
  position: relative;
  top: -48px;
  text-align: center;
}

.overview-button-text {
  text-decoration: none;
  color: #fff;
  font-size: 45px;
  letter-spacing: 8px;
  line-height: 32px;
  position: relative;
  top: -53px;
  text-align: center;
}

.buttoncontainer {
  text-align: center;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}

/* ------------------------------------------------------------------------- */

.unique-list {
  text-align: center;
  text-decoration: none;
  color: white;
  font: 25px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  margin-bottom: 3%;
}

.unique-list ul {
  list-style-type: none;
  padding: 20px;
}

.unique-list li {
  height: 25px;
  display: inline-block;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}

.unique-list li.active {
  color: #9932CC;
}

li:last-child {
  border-right: none;
}

li:hover {
  opacity: .7;
}


/* ------------------------------------------------------------------------- */

.text-container {
  height: 750px;
  width: 1000px;
  position: relative;
  margin: auto;
  border: 1px solid white;
  background-image: url('images/infrared.jpg');
}

.reasons-text p {
  color: black;
  text-align: left;
  font-size: 35px;
  margin-left: 25%;
  margin-right: 22%;
  float: left;
  background-color: white;
  padding: 20px;
  border: 3px solid black;
}

.overview-text {
  color: black;
  background-image: url('./images/infrared.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.overview-text #overview-text-title {
  text-align: left;
  font-size: 35px;
  margin-left: 25%;
  margin-right: 22%;
  float: left;
  background-color: white;
  padding: 20px;
  border: 3px solid black;
}

.overview-text #overview-text-body {
  text-align: left;
  font-size: 25px;
  margin-left: 25%;
  margin-right: 22%;
  float: left;
  background-color: white;
  padding: 5px;
  border: 3px solid black;
}

/* ------------------------------------------------------------------------- */

.slide-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slides {
  width: 100%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.doctext {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* ------------------------------------------------------------------------- */

.toc {
    padding-top: 100%;
  }



/*--added by aham-------------------------------------------------------------*/
.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
    /*border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;*/
}

pre code {
    padding: 0;
    font-size: 100%;
    color: inherit;
    background-color: transparent;
}
code {
  border-radius: 3px;
}
code, pre {
  font-family: Menlo,Monaco,"Courier New",monospace;
}

.codepic {
  postion:relative;
  width: 200px;
  height: 200px;
}


#main_image{
    width: 100%;
    height: 100%;
    background: blue;
}
#overlay-img {
  position: absolute;
  bottom:0;
  left:0;
  width: 30px;
  height: 30px;
  background: red;
}
